# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
/poo-unifal/MyFirstMavenProject/target/
/poo-unifal/MyFirstMavenProject/.mvn
/poo-unifal/MyFirstMavenProject/mvnw
/poo-unifal/MyFirstMavenProject/mvnw.cmd

# Gradle
/.gradle/
build/
*.gradle

### IntelliJ IDEA ###
/poo-unifal/poo-intellij/*.idea/modules.xml
/poo-unifal/poo-intellij/*.idea/jarRepositories.xml
/poo-unifal/poo-intellij/*.idea/compiler.xml
/poo-unifal/poo-intellij/*.idea/libraries/
/poo-unifal/poo-intellij/*.idea/workspace.xml
/poo-unifal/poo-intellij/*.idea/tasks.xml
/poo-unifal/poo-intellij/*.idea/gradle.xml
/poo-unifal/poo-intellij/*.iws
/poo-unifal/poo-intellij/*.iml
/poo-unifal/poo-intellij/*.ipr

### Eclipse ###
/poo-unifal/poo-eclipse/*.apt_generated
/poo-unifal/poo-eclipse/*.classpath
/poo-unifal/poo-eclipse/*.factorypath
/poo-unifal/poo-eclipse/*.project
/poo-unifal/poo-eclipse/*.settings
/poo-unifal/poo-eclipse/*.springBeans
/poo-unifal/poo-eclipse/*.sts4-cache

# VS Code
.vscode/

# Virtual machine crash logs
*hs_err_pid*
*replay_pid*
